PORT=3001
DATABASE_URL=postgres://app:app@localhost:5432/app

KEYCLOAK_BASE_URL=http://localhost:8080
KEYCLOAK_REALM=ardtire
KEYCLOAK_CLIENT_ID=web
KEYCLOAK_CLIENT_SECRET=replace-me
KEYCLOAK_REDIRECT_URI=http://localhost:3000/auth/callback
WEB_SESSION_SECRET=Yi2bCHpXpWxFp4OYmE6X9agqff5Pqs2v0wBE7fNEyvM=


initial-access-token=eyJhbGciOiJIUzUxMiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICI2ZDJiNDQzOC02MWE3LTQzYmQtYWFkMS05OTlhNTcwMjI0YjUifQ.eyJleHAiOjE3NzU2NDI2NDYsImlhdCI6MTc3NTU1NjI0NiwianRpIjoiZjY2YThkY2UtODdjMS00YWQxLTg2MTItODRmMDE3NWMzZjg4IiwiaXNzIjoiaHR0cDovL2xvY2FsaG9zdDo4MDgwL3JlYWxtcy9hcmR0aXJlIiwiYXVkIjoiaHR0cDovL2xvY2FsaG9zdDo4MDgwL3JlYWxtcy9hcmR0aXJlIiwidHlwIjoiSW5pdGlhbEFjY2Vzc1Rva2VuIn0.BVpcaHEnbcS08YuE2Prah-djJI-tXlY2E3N-r3T0lAgwyWqfV7wJ9yxoIz1xSORo9IHNMIyZNOC7308FJMlg-g



KEYCLOAK_SMTP_HOST=""
KEYCLOAK_SMTP_PORT=""
KEYCLOAK_SMTP_FROM=""
KEYCLOAK_SMTP_AUTH=""
KEYCLOAK_SMTP_SSL=""
KEYCLOAK_SMTP_STARTTLS=""
KEYCLOAK_SMTP_USER=""
KEYCLOAK_SMTP_PASSWORD=""

KEYCLOAK_CLIENT_SECRET_ARDTIRE_CMS=""
KEYCLOAK_CLIENT_SECRET_ARDTIRE_DECIDIM=""
KEYCLOAK_CLIENT_SECRET_ARDTIRE_BACKOFFICE=""