# dependencies
node_modules
.bun
.pnpm-store

# build
dist
build
coverage
.turbo
playwright-report
test-results

# env
.env
.env.*
!.env.example

# editor/system
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# logs
*.log

# drizzle
drizzle/*.sqlite
drizzle/*.db
